@charset "UTF-8";
/*slide*/
.sliderArea{
background: transparent linear-gradient(
90deg, #04C1E4 0%, #00C09C 100%) 0% 0% no-repeat padding-box;
    padding: 15px 0 5px;
	margin: 0 0 30px;
}
.sliderArea .slick-prev,.sliderArea .slick-next,.sliderArea .slick-arrow{
	display: none!important;
}
.sliderArea .slick-dotted.slick-slider {
    position: static;
    margin: 0;
    height: auto;
}
.sliderArea .slick-dots {
        position: static;
background: transparent linear-gradient(
90deg, #04C1E4 0%, #00C09C 100%) 0% 0% no-repeat padding-box;
}
.sliderArea .slick-dots li{
position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.sliderArea .slick-dots li button:before {
    font-size: 20px;
    line-height: 20px;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sliderArea .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}
.sliderArea .slick-slider .slick-track, .slick-slider .slick-list{
background: transparent linear-gradient(
90deg, #04C1E4 0%, #00C09C 100%) 0% 0% no-repeat padding-box;
}
.sliderArea .slider .slick-slide{
	margin: 0 7.5px;
}
/*アコーディオン*/
.acd-label{font-size: 14px;text-align: center;width: 100%;font-weight: bold;  padding-bottom: 15px;}
.acd-content{
  height: 0;
  opacity: 0;
  transition: .3s;
  visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
  height: auto;
  opacity: 1;
  visibility: visible;
}

.acd-content .apply-list{padding: 15px 0 0;border: none;}


/*レイアウト　w1200*/
.grid-container.d2{
	max-width: 1230px;
}
/*レイアウト　入力箇所*/
.input-layout{
	max-width: 340px;
	width: 96%;
	margin: 0 auto;
}
.input-layout-member{
	max-width: 400px;
	width: 96%;
	margin: 0 auto;
}
/*タイトル*/
.title{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
.title-section{
	border-top: solid 2px #ddd;
	position: relative;
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}
.title-section:after{
	position: absolute;
  	content: " ";
  	display: block;
  	border-bottom: solid 2px #272727;
  	top: -2px;
  	width: 20%;
}
/*タイトル下の説明文*/
.title-info{
	font-size: 14px;
	margin: 0;
}


/*説明文　メールアドレスの下　※半角英数字等*/
.auxiliary{
	font-size: 13px;
	color: #999;
}
/*文字種類*/
.str{
	font-weight: bold;
}
.txt-center{
	text-align: center;
}
.txt-alert{
	color: #EA598A;
}
/*必須アイコン*/
.mandatory{
	background: #EA598A;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 5px;
    margin-left: 10px;
}
/*入力2行パターン*/
.input-col{
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
}
.input-col li{
	width: 48%;
}
.input-col p{
	margin: 0;
}
/*マージン*/
.mb5{
	margin-bottom: 5px;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb30{
	margin-bottom: 30px;
}
.mt30{
	margin-top: 30px;
}

/*ボタンの矢印*/
.arrow,.arrow-ac{
    position: relative;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.arrow-right::after{
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow-left::after{
    width: 10px;
    height: 10px;
    right: auto;
    left: 1rem;
    border-top: 2px solid #01C7A1;
    border-right: 2px solid #01C7A1;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.arrow-left.gotop::after{
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.arrow-ac::before, .arrow-ac::after {
    position: absolute;
    top: 0;
    bottom: -30px;
    right: 50%;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.arrow-bottom::after{
    width: 10px;
    height: 10px;
    border-top: 2px solid #01C7A1;
    border-right: 2px solid #01C7A1;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
/*チェックボックス*/
input[type=checkbox] {
    display: none;
}
.checkbox01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 0 20px;
    position: relative;
    width: auto;
	font-size: 14px;
}
.checkbox01::before {
    background: #fff;
    border: 1px solid #ddd;
    content: '';
    display: block;
    height: 14px;
    left: 0;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 14px;
}
.checkbox01::after {
    border-right: 2px solid #01c7a1;
    border-bottom: 2px solid #01c7a1;
    content: '';
    display: block;
    height: 10px;
    left: 4px;
    margin-top: -5px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 6px;
}
input[type=checkbox]:checked + .checkbox01::after {
    opacity: 1;
}

select:invalid {
  color: #999;
}

/*ステップナビゲーション*/
.stepbar-row {
    width: 100%;
}

.stepbar {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
}

.stepbar li {
    font-size: 14px;
    list-style: none;
    padding-left: 50px;
    position: relative;
    max-width: 110px;
}

.stepbar li:after {
    background-color: #ddd;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    top: 30px;
    width: 50px;
}

.stepbar li:first-child {
    padding-left: 0;
    width: 60px;
}

.stepbar li:first-child:after {
    display: none;
}

.stepbar li span {
    background-color: #fff;
    border-radius: 50%;
    border:2px solid #ccc;
    color: #ccc;
    font-weight:bold;
    display: inline-block;
    height: 60px;
    margin-bottom: 30px;
    line-height: 58px;
    text-align: center;
    width: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.stepbar .done span {
    background-color: #01C7A1;
    color: #fff;
    border: 2px solid #01C7A1;
}

/*ボタン二つ並び*/
.btn-group{
	display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 630px;
	list-style: none;
}
.btn-group li {
    width: 48%;
}

/*タブ*/
.tab_container {
  width: 94%;
  margin: 0 auto;
  text-align: center;
  }
.tab_item {
  width: calc(50%/3);
  padding:15px 0;
  background-color: #DDD;
  text-align: center;
  color: #999;
  display: block;
  font-size:14px;
  transition: all 0.2s ease;
  height: 36px;
  line-height: 8px;
}
.tab_item:hover {
  background-color: #019F81;
  color: #fff;
}
input[name="tab_item"] {
  display: none;
}
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  border-top: 3px solid #37beb0;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 30px;
}
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content,
#tab4:checked ~ #tab4_content {
  display: block;
  text-align: left;
}
.tab_container input:checked + .tab_item {
  background: #37beb0;
  color: #fff;
}

.tab_content_description dl,.tab_content_description dt,tab_content_description dd{
	margin:0;
}

.tab_content_description dl{
	display:flex;
	border-bottom: 1px solid #EBEBEB;
}
.tab_content_description dl:last-child{
	border-bottom: none;
}
.tab_content_description dl .checkbox01{
		line-height: 1.4;
}

.tab_content_description dt{width: 220px;padding: 15px;background: #FAFAFA;}
.tab_content_description dd{padding: 15px;width: 100%;}
.tab_content_description dd ul{
    list-style:none;
	column-count: 3;
	column-gap: 26px;
	list-style: none;
	margin: 0;
    padding: 0;
}
.tab_content_description dd ul li{
	margin-bottom:.5rem;
}
/*エラー*/
.error{
	color: #EA598A;
}
[type='text'].error{
	border: 1px solid #EA598A;
}

/*アイコン*/
.fa-plus {
    color: #01C7A1;
    margin-left: 10px;
}
/*タイトル横にボタン*/
.title-col{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title-col p{
	font-size: 13px;
}
/*イベント*/
ul.tag{
	list-style: none;
    display: flex;
    margin: 0 0 30px 0;
}
ul.tag li{
    font-size: 12px;
    padding: 3px 5px 0 5px;
    background: #01C7A1;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
}
.event-block.callout{
	display: flex;
	margin-bottom: 15px;
	padding: 15px 0;
}
.event-block p{
	margin: 0
}
.event-block .day{
	width: 150px;
}
.event-block .day .small{
	font-size:14px;
	line-height: 1.2;
}
.event-block .day .large{
	font-size:24px;
	line-height: 1.4;
}
.event-block .day .large span{
	font-size:14px;
	font-weight:normal;
}
.event-block .day .user-list{
	list-style: none;
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	justify-content: center;
}

.event-block .day .user-list li{
	background: #ccc;
	width: 55px;
	height: 55px;
	border-radius: 3em;
	overflow: hidden;
	margin-top: 10px;
}
.event-block .day .user-list li:nth-child(odd){
	margin-right:10px;
}
.event-area{
	width: 450px;
}
.event-area .event-title {
	border-left: 2px solid;
    padding-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.event-area .event-title .location{
	color:#999;
	font-size:13px;
}

.event-area .event-title .location .fa-map-marker-alt{
	margin-right:10px;
}
.event-area .event-info{
	list-style: none;
    display: flex;
    margin: 0;
    padding-left: 15px;
}

.event-area .event-info .img{
	width: 120px;
    height: 47px;
    background: #ccc;
    margin-right: 15px;
	overflow: hidden;
}
.event-area .event-info .txt{
	font-size: 13px;
}
.event-area ul.tag{
	margin-left: 15px;
	margin-bottom: 0;
}
.event-area ul.tag li {
    font-size: 12px;
    padding: 3px 5px 0 5px;
    background: #fff;
    color: #01C7A1;
    border:1px solid;
    border-radius: 5px;
    margin-right: 5px;
}

.button-area{
	border-left:1px solid #EBEBEB;
	padding-left:15px;
	margin-left:15px;
}
.button-area ul{
	list-style:none;
	margin:0;
}
.button-area ul li{
	margin-bottom:15px;
}
.button-area .button{
	font-size: 16px;
    text-align: left;
	font-weight: normal;
}
.button-area .button .fas{
	margin-right: 10px;
}
.button-area .button.detail{
	background: #272727;
}
.button-area .button.favorite{
	background: #fff;
	border: 1px solid #DDD;
	box-sizing: border-box;
	color: #999;
}

.button-area .button.favorite .fa-heart{
	color: #999;
}
.button-area .button.favorite.on .fa-heart{
	color: #EA598A;
}

.event-btn{
	min-width: 340px;
    margin: 15px auto 0;
}

.apply-list {list-style: none;margin: 0;padding: 15px;border: 1px solid #EBEBEB;border-radius: 0;background: #fff;font-size: 14px;}
.apply-list li{
    margin-bottom:10px;
}
.apply-list li:last-child{
    margin-bottom:0;
}
.apply-list span{
    background:#999;
    color:#fff;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
}
.apply-list span.active{
    background:#01C7A1;
}

@media (max-width: 768px) {
.input-col{
    display: block;
}
.input-col li {
    width: 100%;
}
/*ボタン二つ並び*/
.btn-group {
    display: block;
}
.btn-group li {
    width: 100%;
}
.btn-group li:first-child {
    margin-bottom: 1rem;
}
/*SPのみbr削除*/
.spbr-none br {
    display: none;
  }
/*SPのみ左寄せ*/
	.sptxt-left{
		text-align: left
	}
/*タブ*/
.tab_item {
    width: auto;
    padding: .5rem;
    height: auto;
    line-height: 1rem;
}
.tab_content_description dl {
    display: block;
}
.tab_content_description dd ul{
	column-count: 2;
	column-gap: 1rem;
}

.tab_content_description dl .checkbox01,.tab_content_description dt {
    width: 100%;
}
.title-col {
    display: block;
}
.title-col p{
    text-align: right;
}
.event-block.callout{display:block;padding: 0.625rem;}
.event-block .day,.event-area {
    width: 100%;
}
.button-area {
    margin:0;
    padding:0;
    border: none;
    padding-top: 0.625rem;
    border-top: 1px solid #ebebeb;
}
.event-block .day .user-list {
	justify-content:start;
	margin-bottom: 15px;
}
.event-block .day .user-list li,.event-block .day .user-list li:nth-child(odd) {
    margin-right: 10px;
}
.event-area .event-info{
    display: block;
    padding-left: 0;
}

.event-area .event-info .img{
	width: 100%;
    height: 0;
    padding-top:50%;
    margin-right: 0;
    margin-bottom:10px;
}
.event-area ul.tag {
    margin-left: 0;
    margin-bottom: 15px;
}
.button-area ul {
   display:flex;
}
.button-area ul li {
    margin-bottom: 0;
    width:calc(100%/3);
    border-right: 1px solid #ebebeb;
}
.button-area ul li:last-child {
    border-right: none;
}
.button-area .button {
    font-size: 0.625rem;
    text-align: left;
    font-weight: normal;
    background: none;
    color:#272727;
    text-align: center;
}
.button-area .button.detail,.button-area .button:hover .application {
        background: transparent;
    color: #272727;
}
.button-area .button.favorite {
    background: #fff;
    border: none;
    box-sizing: border-box;
    color: #272727;
}
.button-area .button .fas {
    margin-right: 0;
    display:block;
    font-size: 1rem;
    padding: 0 0 .625rem;
}
.apply-list {
    font-size: .8rem;
}
.event-btn {
    min-width: 340px;
    margin: 1rem auto 2rem;
}
.apply-list span {
    margin-right: .625rem;
    padding: 3px 0 0;
}
}