@charset "UTF-8";
footer{
  background: #222;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
	width: 100%;
}
footer .inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .625rem;
  max-width: 1200px;
  margin: 0 auto;
}
footer ul{
	list-style: none;
	margin: 0;
	display: flex;
}
footer ul li{
	margin:0 30px 0 0;
}
footer ul a,footer p{
	font-size: 13px;
	color: #ddd;
	margin: 0;
}
footer ul a{
	text-decoration: underline;
}
footer ul a:hover, footer ul a:focus {
    color: #ddd;
}

@media (max-width: 768px) {
footer{

}
footer .inner{
  width: 100%;
	display: block;
}
footer ul{
justify-content: center;
}
footer ul li {
    margin: 0 .625rem 0 0;
}
footer p{
text-align: center;
}
}
