@charset "UTF-8";
header{
  padding: 15px;
  border-bottom: 1px solid #EBEBEB;
  background: #fff;

  
}
header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}
header .logo{
  width: 310px;
  font-size: 0;
  margin: 0;
}

header .header-menu{
	display: flex;
	margin: 0;
	list-style: none;
}
header .header-menu li{
	margin: 0 2rem 0 0;
}
header a{
	text-decoration: none;
	color: #272727;
	transition: .3s;
}
header .user-name{
	margin: 0;
}
header .menu-content ul{
	display:flex;
	list-style:none;
	margin: 0;
}
header .menu-content ul li{
	padding:0 1rem;
}
header .menu-content ul li:last-child{
	padding:0 0 0 8rem;
}

header [type='checkbox'] + label.menu-btn {
	display: block;
}

header .fa-bell{
	color: #999;
    font-size: 20px;
    margin-right: 15px;
	position: relative;
}
header .fa-bell .sumCountIcon {
    position: absolute;
    background: #EA598A;
    color: #fff;
    border-radius: 3em;
    bottom: 12px;
    z-index: 1;
    padding: .15rem;
    border: 1px solid #fff;
    left: 2px;
    font-weight: normal;
    font-size: 10px;
}
@media (max-width: 1024px) {
header{
  padding: 0.9375rem;
  
}
	header .inner{
		width: 100%;
	}
header .logo{
  width: 200px;
}
	header .header-menu,header .user-name{
		display: none;
	}


header [type='checkbox'] + label.menu-btn {
    position: relative;
    top: 0;
    right: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
header .menu-btn span,
header .menu-btn span:before,
header .menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    border-radius: 3px;
    background-color: #ccc;
    position: absolute;
}
header .menu-btn span:before {
    bottom: 7px;
}
header .menu-btn span:after {
    top: 7px;
}

header #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
header #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
header #menu-btn-check {
    display: none;
}
header .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    transition: .3s;
    background: rgba(0,0,0,.8);
    opacity: 0;
}
header .menu-content ul {
    margin: 30% 0.625rem 0;
    display: block;
    background: #fff;
    border-radius: 5px;
}
header .menu-content ul li {
    border-bottom: solid 1px #ccc;
    list-style: none;
    padding: 0;
}
header .menu-content ul li:last-child {
    border-bottom: none;
	padding: 0;
}
header .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    text-decoration: none;
    padding: 2rem;
    position: relative;
    text-align: center;
}
header .menu-content ul li a::before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: solid 2px #ccc;
    border-right: solid 2px #ccc;
    transform: rotate(45deg);
    position: absolute;
    right: 1.5rem;
    top: 44%;
}
header #menu-btn-check:checked ~ .menu-content {
    left: 0;
	opacity: 1;
}
	}