<header>
<div class="inner">
	<h1 class="logo">
		<img src="../../../img/logo.svg" alt="医療業界イベント情報検索">
	</h1>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>

        <div class="menu-content">
            <ul>
                <li><a href="#">イベント検索</a></li>
                <li><a href="#">申込済・お気に入り</a></li>
                <li><a href="#">面談リクエスト</a></li>
                <li><a href="#">ログイン</a></li>
            </ul>
        </div>

    </div>
</div>
</header>
